<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tca.mybatisplus.dao.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tca.security.web.entity.SysUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="is_account_non_expired" property="isAccountNonExpired" />
        <result column="is_account_non_locked" property="isAccountNonLocked" />
        <result column="is_credentials_non_expired" property="isCredentialsNonExpired" />
        <result column="is_enabled" property="isEnabled" />
        <result column="nick_name" property="nickName" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

</mapper>
